body{
    background: #002A32;
}

input[type=email], input[type=password]{
    font-size: 42px;
    height: 2em;
    display: block;
    margin: 2% auto;
    border: 10px solid rgba(0, 0, 0, 0);
    padding: 5px;
}

input[type=submit]{
    position: absolute;
    top:100000px;
}

input:valid{
    border: 10px solid #BBD686;
}

input:focus{
    background: #FFF9A5;

}